apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  labels:
    app: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      containers:
        - name: sonarqube
          image: sonarqube:lts
          ports:
            - containerPort: 9000
          env:
            - name: login
              value: admin
            - name: password
              value: sonar
            - name: SONARQUBE_TOKEN
              valueFrom:
                secretKeyRef:
                   name: sonarqube-secret
                   key: sonarqube.token
          volumeMounts:
            - name: sonarqube-data
              mountPath: /opt/sonarqube/data
            - name: sonarqube-extensions
              mountPath: /opt/sonarqube/extensions
            - name: sonarqube-logs
              mountPath: /opt/sonarqube/logs
      volumes:
        - name: sonarqube-data
          persistentVolumeClaim:
            claimName: sonarqube-pv-claim
        - name: sonarqube-extensions
          emptyDir: { }
        - name: sonarqube-logs
          emptyDir: { }



#---
#apiVersion: v1
#kind: Service
#metadata:
#  name: sonarqube-service
#spec:
#  selector:
#    app: sonarqube
#  type: NodePort
#  ports:
#    - protocol: TCP
#      port: 9000
#      targetPort: 9000
#      nodePort: 30300
